
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodawanie osoby do bazy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>

    

        <header>
            <nav class="navbar static-top navbar-expand-lg navbar-light bg-info ">
              <a class="navbar-brand" href="/"><img src="https://img.icons8.com/dusk/2x/taxi.png"  width="35" height="35" 
                class="d-inline-block mr-1 align-bottom" alt=""> Taxi.pl</a>
                <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                        <div class="navbar-nav ">
                        <a class="nav-item nav-link " href="/">Strona główna <span class="sr-only">(current)</span></a>                       
                        <a class="nav-item nav-link" href="/rejestracja/add">Rejestracja</a>
                        <a class="nav-item nav-link active" href="/login">Logowanie</a>
                        
                        </div>
                    </div>
            </nav>
        </header>
    
    <body>
  
    <div class="container">
        
        <div class="col-md-12">
            <div class="row" >
            <div class="alert alert-danger alert-dismissible fade show col-md-4 offset-md-4 mt-5" style="text-align: center;" th:if="${param.error}" role="alert">
                        Błędny login lub hasło
                        <button type="button" class="close" data-dismiss="alert" aria-label="Zamknij">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div> 
            </div>
            <section class="jumpers" style="text-align: center;">
                <h2 class="mt-3" id="log"> Logowanie:</h2>
                <img src="https://img.icons8.com/bubbles/100/000000/user-male.png">
            </section>
             
    <form  th:action="@{/login}" method="post">

        <div class="col-md-4 offset-md-4 mb-2">
            <div class="form-group" style="margin-bottom: 0">    
                <label  class="mt-2"> Podaj login: </label>
            <br/>
                <input type="text" class="form-control" id="login" name="username" value=""/> 
                
            </div>   
         </div>   

       
        <div class="col-md-4 offset-md-4 mb-2">
            <div class="form-group" style="margin-bottom: 0">    
                <label> Podaj hasło: </label>
                <br/>
                <input type="password" class="form-control" id="haslo" name="password" value=""/>           
            </div>       
        </div>
        <br/>
        
       
            
        <section class="jumpers" style="text-align: center;">
            <input type="submit" class="btn btn-primary"  value="Zaloguj" />
          <!-- <button class=""> <img src="/img/play.png" width="80px" height="80px"></button>-->
            
        </section>
        <br/>
      


    </form>
    
    </div>
   </div>

</body>
    
    <style>
        body{
            background: url("https://mlgryfmwzmz8.i.optimole.com/w:auto/h:auto/q:auto/https://grupataxiexpres.pl/wp-content/uploads/2019/04/taksowka-z-gory.jpg")  no-repeat center center fixed;              
           -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;  
            color: yellow;
            
        }
        #log{
            font-size: 3rem;
        }
        </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>

